body{
    margin: 0;
    padding: 0;
    background-color: rgb(9, 3, 65);
}

canvas{
    position:absolute;
    background-color: #8600c8;
    border-radius: 10%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}